@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@font-face {
  font-family: "futurak";
  src: url(./Fonts/futurak.ttf);
}

@font-face {
  font-family: "apercu";
  src: url(./Fonts/Apercu\ regular.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #ed1c24;
  --paragraph-color: #B7B7B7;
  --lightblack-color: #0f0f0f;
}

button:hover {
  cursor: pointer;
}

/* Header Section */

header {
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 7px 0px;
  width: 100%;
}

.logo {
  width: 9%;
}

.logo img {
  width: 130%;
  color: white;
}

.logo img:hover {
  cursor: pointer;
}

.linksandbtns {
  display: flex;
  align-items: center;
}

.linksandbtns .links ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
}

.linksandbtns .links ul li {
  padding: 17px 36px 0px 0px;
}

.linksandbtns .links ul li a {
  color: white;
  text-decoration: none;
  font-family: "inter", sans-serif;
}

.linksandbtns:hover {
  cursor: pointer;
}

.linksandbtns .btns {
  display: flex;
  gap: 7px;
}

.linksandbtns button {
  outline: none;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 50px;
  color: white;
  padding: 12px 16px;
}

#secondbtn {
  background-color: var(--main-color);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.arrow {
  display: flex;
  justify-content: center;
  color: var(--main-color);
  background-color: white;
  padding: 4px 10px;
  border-radius: 50px;
}

/* Banner Section */

.banner img {
  display: flex;
  width: 100%;
}

/* Brand Section */

.brand {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: black;
  color: white;
  width: 100%;
  padding: 70px;
}

.brand-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "inter", sans-serif;
  line-height: 50px;
  text-align: center;
}

.brand-content h1 {
  font-weight: 300;
  font-size: 40px;
}

.brand-content p {
  color: rgba(255, 255, 255, 0.7);
}

.brand .snp {
  font-size: 40px;
}

.snp {
  font-family: "futurak";
  font-style: normal;
  font-weight: 300;
  font-size: 52px;
  line-height: 62px;
  color: #ffffff;
}

.ordersec {
  display: flex;
  gap: 2rem;
  padding-top: 30px;
}

.ordersec .orderlink {
  width: 40%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ordersec .snp-img img {
  background-color: white;
  width: 100%;
  padding: 19px 10px;
  border-radius: 5px;
}

.ordersec .orderlink .link-btn {
  padding-top: 30px;
}

.ordersec button {
  width: 150px;
  background-color: transparent;
  color: white;
  border: 1px solid #4d4d4d;
  padding: 15px 20px;
  border-radius: 50px;
}

.ordersec button a {
  color: white;
  text-decoration: none;
}

/* Franchise Section */

.franchise {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 70px;
  color: white;
  background-color: var(--lightblack-color);
  position: relative;
}

.franchise-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
  font-weight: 300;
}

.franchise-content h1 {
  font-weight: 300;
  font-size: 45px;
}

.franchise-content p {
  color: rgba(255, 255, 255, 0.7);
  font-family: "inter";
  padding-bottom: 25px;
}

.isb {
  display: flex;
  justify-content: center;
  width: 60%;
  padding-top: 20px;
}

.info {
  font-family: "inter";
  width: 100%;
  padding-left: 20px;
}

h3 {
  font-weight: 300;
  font-size: 32px;
}

.info p {
  color: var(--paragraph-color);
}

small {
  color: var(--main-color);
  letter-spacing: 4px;
  font-size: 18px;
}

.info .snp {
  font-size: 32px;
}

.info button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 150px;
  padding: 12px 16px;
  border: 1px solid #4d4d4d;
  border-radius: 50px;
  color: white;
  background-color: black;
      margin-top: 40px;

}

.f-img {
  width: 100%;
}

.f-img img {
  width: 100%;
}

.fsb {
  display: flex;
  justify-content: center;
  width: 60%;
  padding-top: 20px;
}

.bhp {
  display: flex;
  justify-content: center;
  width: 60%;
  padding-top: 20px;
}

.s {
  position: absolute;
  right: 30px;
  top: 30px;
}

/* Exrpess */

.express {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  background-color: black;
  padding-top: 70px;
  width: 100%;
}

.express .arrow {
  transform: rotate(-37deg);
  padding: 4px 10px;
}

.express-content,
.village-content,
.opening-content {
  padding-bottom: 30px;
}

.express-content h1,
.village-content h1,
.opening-content h1 {
  color: white;
  font-style: normal;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
}

.express-locations {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "apercu";
  font-weight: normal;
}

.exp-loc {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 0px 20px;
}

.exp-btn {
  padding-bottom: 30px;
}

.exp-btn button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 10px 14px;
  border: 1px solid #4d4d4d;
  border-radius: 50px;
  color: white;
  background-color: black;

}

.exp-info small {
  text-transform: uppercase;
  font-size: 14px;
}

.exp-info h3,
.snp {
  font-size: 26px;
}

.exp-info p {
  font-size: 14px;
  line-height: 40px;
  color: var(--paragraph-color);
}

.exp-img {
  width: 100%;
}

.exp-img img {
  /* overflow: hidden; */
  display: block;
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.row3-img {
  width: 350px;
  height: 230px;
  object-fit: cover;
}

/* Village */

.village {
  background-color: var(--lightblack-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 0px;
}

.v-sec {
  display: flex;
  width: 100%;
}

.v-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding-left: 20px;
  color: white;
}

.v-info {
  font-family: "inter";
  width: 100%;
  padding-left: 20px;
}

.v-info p {
  color: var(--paragraph-color);
}

.v-info .snp {
  font-size: 32px;
}

.v-btn {
  padding-top: 30px;
}

.v-btn button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 200px;
  padding: 12px 16px;
  border: 1px solid #4d4d4d;
  border-radius: 50px;
  color: white;
  background-color: #44AD51;
}

.v-btn button:hover {
  background-color: transparent;
  border: 1px solid #44AD51;
  transition: 0.3s;
  cursor: pointer;
}

.v-btn .arrow {
  color: #44AD51;
  padding: 8px 13px;
}

.v-img {
  width: 100%;
}

.v-img img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.opening {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  padding: 60px 0px 38px;
}

.op-boxes {
  display: flex;
  gap: 2rem;
  padding: 30px 0px;
}

.boxes-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  font-style: normal;
  color: black;
  font-size: 21px;
  line-height: 29px;
  padding: 20px 100px;
  border-radius: 4px;
}

.box small {
  text-transform: uppercase;
  font-size: 10px;
  font-family: 'Apercu';
  letter-spacing: 0.48em;
}

.box h4 {
  font-weight: 400;
}

.box img {
  width: 25%;
  height: auto;
  display: block;
  padding-bottom: 15px;
}

/* footer */

.web-footer {
  display: flex;
  flex-direction: column;
  padding: 70px 15px 0px;
  background-color: var(--lightblack-color);
  color: var(--paragraph-color);
  font-family: 'apercu';
  position: relative;
  width: 100%;
}

.web-footer a:hover{
  cursor: pointer;
}

.ft-box {
  display: flex;
  justify-content: center;
  z-index: 1;
  padding-bottom: 60px;
  gap: 7rem;
}

.fs {
  position: absolute;
  bottom: 0px;
  left: 30px;
}

/* column 1 */

.col1,
.col2,
.col3,
.col4 {
  display: flex;
  flex-direction: column;
  width: 19%;
}

.para p {
  padding-bottom: 24px;
  padding-right: 0px;
  text-align: left;
  line-height: 21px;
  letter-spacing: 0.03em;
  font-size: 14px;
}

.terms ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
}

.terms ul li a {
  color: var(--paragraph-color);
  text-decoration: none;
}

.ftr-img {
  width: 50%;
  padding-bottom: 30px;
}

.ftr-img img {
  width: 100%;
}

/* column 2 */

.col2 {
  width: 10%;
}

.col2 p,
.col3 p,
.col4 p {
  font-family: none;
  color: white;
  font-size: 18px;
  padding-bottom: 24px;
}

.list ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style-type: none;
}

.list ul li a {
  text-decoration: none;
  color: var(--paragraph-color);
}

/* column 3 */

.col3 {
  width: 15%;
}

.about ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style-type: none;
}

.about ul li a {
  color: var(--paragraph-color);
  text-decoration: none;
}

.heading {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

/* column 4 */

.col4 {
  width: 10%;
}

.follow {
  padding: 10px 0px;
}

.col4 .icon {
  background-color: var(--main-color);
  border-radius: 50px;
  padding: 10px;
}

.apps {
  display: flex;
  width: 40%;
}

.apps ul li {
  padding-top: 15px;
  list-style-type: none;
}

.copy {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  background-color: black;
  color: white;
  font-family: "inter";
  width: 100%;
}
/* footer end */